<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <label for="firstName">Enter first name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
  <br/>
  <label for="lastName">Enter first name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
  <br/>
  <label for="password">Password</label>
  <input type="password" th:field="*{password}" id="password"/>
  <br/>
  <label for="roles">Role</label>
  <select multiple class="form-control" th:value="${user.roles}" id="roles" name="roles">
    <option value="ROLE_ADMIN" th:text="ADMIN"></option>
    <option value="ROLE_USER" th:text="USER"></option>
  </select>
  <br/>
  <input type="submit" value="Add new user"/>
</form>
<a href="/admin">
  <input type="submit" value="Show users"/>
</a>

</body>
</html>