<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User page</title>
</head>
<body>
<!--<p th:text="${'Id: '+user.getId()}">value</p>-->
<!--<p th:text="${'First name: ' + user.getFirstName()}">value</p>-->
<!--<p th:text="${'Last name: ' + user.getLastName()}">value</p>-->
<!--<p th:text="${'Age: ' + user.getAge()}">value</p>-->
<!--<p th:text="${'Email: ' + user.getEmail()}">value</p>-->
<!--<p th:text="${'Email: ' + user.getEmail()}">value</p>-->
<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <tbody>
  <tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.getRolesToString()}"></td>
  </tr>
  </tbody>
</table>
<br/>
<a href="/admin">
  <input type="submit" value="Show users"/>
</a>
</body>
</html>