<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User page</title>
</head>
<body>
<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <tbody>
  <tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.getRolesToString()}"></td>
  </tr>
  </tbody>
</table>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>