<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header" id="admin-panel"></div>
        <div class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </div>
    </div>
</nav>
<!--Навигационная колонка слева с ролями-->
<div class="d-flex align-items-start ">
    <div class="nav flex-column nav-pills me-3 col-2 " id="v-pills-tab" role="tablist"
         aria-orientation="vertical" style="padding-right: 0; margin-right: 0 !important">
        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab"
           aria-controls="v-pills-settings" aria-selected="false">User</a>
    </div>
    <!--  Содержание разделов ролей-->
    <div class="container-fluid bg-light vh-100">
        <div class="tab-content " id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1>
                    Admin panel
                </h1>
                <!--Горионтальная навигация Users table и New User-->
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Users table</a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">New User</a>
                </nav>
                <!--Содержимое Users table-->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="card">
                            <div class="card-header fw-weight-semibold fs-4">
                                All users
                            </div>
                            <div class="card-body">
                                <!--Таблица с пользователями-->
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Id</th>
                                        <th class="text-center">First Name</th>
                                        <th class="text-center">Last Name</th>
                                        <th class="text-center">Age</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Role</th>
                                        <th class="text-center">Edit</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="allUsersTable">
                                    <!-- Модальное окно изменения юзера-->
                                    <div class="modal" id="modalEdit" tabindex="-1" role="dialog"
                                         aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center"
                                                     style="margin-left:100px; margin-right:100px;">
                                                    <div class="form-group">
                                                        <label for="idEdit" class="font-weight-bold">ID</label>
                                                        <input type="text" class="form-control" id="idEdit"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="firstNameEdit" class="font-weight-bold">First Name</label>
                                                        <input type="text" class="form-control" id="firstNameEdit"
                                                               name="name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastNameEdit" class="font-weight-bold">Last Name</label>
                                                        <input type="text" class="form-control" id="lastNameEdit"
                                                               name="name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ageEdit" class="font-weight-bold" >Age</label>
                                                        <input type="number" min="0" max="100" class="form-control" id="ageEdit"
                                                               name="age">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailEdit" class="font-weight-bold">Email</label>
                                                        <input type="text" class="form-control" id="emailEdit"
                                                               name="email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="passwordEdit"
                                                               class="font-weight-bold">Password</label>
                                                        <input type="password" class="form-control" id="passwordEdit"
                                                               name="password">
                                                    </div>
                                                    <label class="font-weight-bold">Role</label>
                                                    <div>
                                                        <select class="form-control" name="roles" multiple
                                                                id="editRoles">
                                                            <option value="ADMIN">ADMIN</option>
                                                            <option value="USER">USER</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                            id="updateButton">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" onclick="editUser()">
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Delete Modal-->
                                    <div class="modal" id="modalDelete" tabindex="-1" role="dialog"
                                         aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center"
                                                     style="margin-left:100px; margin-right:100px;">
                                                    <div class="form-group">
                                                        <label for="idDelete" class="font-weight-bold">ID</label>
                                                        <input type="text" class="form-control" id="idDelete"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="firstNameDelete" class="font-weight-bold">First Name</label>
                                                        <input type="text" class="form-control" id="firstNameDelete"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastNameDelete" class="font-weight-bold">Last Name</label>
                                                        <input type="text" class="form-control" id="lastNameDelete"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ageDelete" class="font-weight-bold">Age</label>
                                                        <input type="number" class="form-control" id="ageDelete"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailDelete" class="font-weight-bold">Email</label>
                                                        <input type="text" class="form-control" id="emailDelete"
                                                               readonly="readonly">
                                                    </div>
                                                    <label class="font-weight-bold">Role</label>
                                                    <div>
                                                        <select class="form-control" name="roles" id="deleteRoles"
                                                                multiple required size="2" disabled>
                                                            <option value="ADMIN" id="delete-admin">ADMIN</option>
                                                            <option value="USER" id="delete-user">USER</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                            id="deleteButton">Close
                                                    </button>
                                                    <button type="button" class="btn btn-danger" onclick="deleteUser()">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <div class="card-header fw-semibold fs-4">
                                Add new user
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <form id="add-form">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col text-center justify-content-center">
                                                <div class="form-group"
                                                     style="margin-bottom: -2px;width: 420px; margin: auto auto;">
                                                    <label for="firstName" class="font-weight-bold">First Name</label>
                                                    <input type="text" class="form-control" id="firstName"
                                                           name="firstName"
                                                           style="margin-bottom: 10px;width: 420px;padding-right: 15px;">
                                                    <br/>
                                                </div>
                                                <div class="form-group "
                                                     style="margin-bottom: -2px;width: 420px; margin: auto auto;">
                                                    <label for="lastName" class="font-weight-bold">Last Name</label>
                                                    <input type="text" class="form-control" id="lastName"
                                                           name="lastName"
                                                           style="margin-bottom: 10px;width: 420px;padding-right: 15px;">
                                                    <br/>
                                                </div>
                                                <br/>
                                                <div class="form-group"
                                                     style="margin-bottom: -2px;width: 420px; margin: auto auto;">
                                                    <label for="age" class="font-weight-bold">Age</label>
                                                    <input type="number" class="form-control" id="age" name="age"
                                                           style="margin-bottom: 10px;width: 420px;padding-right: 15px;">
                                                    <br/>
                                                </div>
                                                <br/>
                                                <div class="form-group"
                                                     style="margin-bottom: -2px;width: 420px; margin: auto auto;">
                                                    <label for="email" class="font-weight-bold">Email</label>
                                                    <input type="text" class="form-control" id="email" name="email"
                                                           style="margin-bottom: 10px;width: 420px;padding-right: 15px;">
                                                </div>
                                                <br/>
                                                <div class="form-group"
                                                     style="margin-bottom: -2px;width: 420px;  margin: auto auto;">
                                                    <label for="password" class="font-weight-bold">Password</label>
                                                    <input type="password" class="form-control" id="password"
                                                           name="password"
                                                           style="margin-bottom: 10px;width: 420px;padding-right: 15px;">
                                                </div>
                                                <br/>
                                                <div class="form-group"
                                                     style="margin-bottom: -2px;width: 420px;margin-top: 10px;
                                                      margin: auto auto;">
                                                    <label class="font-weight-bold">Role</label>
                                                    <div>
                                                        <select class="form-control form-control-sm mb-3"
                                                                name="roles" multiple
                                                                id="addRoles">
                                                            <option value="ADMIN">ADMIN</option>
                                                            <option value="USER">USER</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary border-rounded"
                                                            style="width: 160px;">Add new user</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1>
                    User information-page
                </h1>
                <div class="card">
                    <div class="card-header fw-weight-semibold fs-4">
                        About user
                    </div>
                    <div class="card-body">
                        <table class="table table-striped ">
                            <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">First Name</th>
                                <th class="text-center">Last Name</th>
                                <th class="text-center">Age</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Role</th>
                            </tr>
                            </thead>
                            <tbody id="tableForUser">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>