<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style type="text/css">

    </style>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}"
       th:text="${user.getId() + '. ' + user.getFirstName()
    + ', ' + user.getLastName + ', ' + user.getAge + ', ' + user.getEmail}">User</a>
    <form th:action="@{/users/{id}/edit(id=${user.getId()})}">
        <input type="submit" value="Edit"/>
    </form>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>

<br/>
<a href="/users/new">
    <input type="submit" value="Add new user"/>
</a>



</body>
</html>