<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User page</title>
</head>
<body>
<p th:text="${'Id: '+user.getId()}">value</p>
<p th:text="${'First name: ' + user.getFirstName()}">value</p>
<p th:text="${'Last name: ' + user.getLastName()}">value</p>
<p th:text="${'Age: ' + user.getAge()}">value</p>
<p th:text="${'Email: ' + user.getEmail()}">value</p>
<form th:action="@{/users/{id}/edit(id=${user.getId()})}">
  <input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>
<a href="/users">
  <input type="submit" value="Show users"/>
</a>
</body>
</html>